<html>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>
<html>
    <head>
        <title>Doce lar da Nanda blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
<html>
    <head>
        <title>Blog Doce Lar da Nanda</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Doce Lar da Nanda</a></h1>
        </div>

        <div>
            <p>publicado: 03.11.2018, 16:25</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Sejam muito bem vindos a primeira postagem do meu blog.</p>
        </div>

        <div>
            <p>publicado: 03.11.2018, 16:29</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Vamos começar?.</p>
        </div>
    </body>
</html>